# Configuration file for main field modeling

#############################################
# MODEL DEFINITION PARAMETERS               #
#############################################

# Maximum spherical harmonic degrees for internal main field
# (B-spline represention up to degree nmax_spline), and
# crustal field (static coefficients up to degree nmax)
nmax_core = 15
nmax      = 15
nmax_mf = 10
nmax_sv = 1
nmax_sa = 1

# Model epoch in years
epoch = 2020.0

# reference radius for SH expansions in km
R = 6371.2

#############################################
# FITTING PARAMETERS                        #
#############################################

# number of robust iterations
max_iter    = 1

# Fit MF coefficients
# Set gauss_period to number of years between knots; set < 0 for no internal knots
fit_mf      = 1
#gauss_spline_order = 6
#gauss_period = 0.5
gauss_spline_order = 3
gauss_period = -1

# Fit SV coefficients
fit_sv      = 1

# Fit SA coefficients
fit_sa      = 1

# Fit alignment parameters
# set align_period to number of days between knots; set < 0 for a single (constant) set of parameters
fit_align   = 1
align_spline_order = 4
align_period = 30.0

# Fit external field
fit_ext     = 0

# Fit VFM calibration parameters
fit_fluxcal = 1
fluxcal_spline_order = 3
fluxcal_period = 30.0

# QD latitude separating mid and high-latitudes for fitting data
qdlat_fit_cutoff = 55.0

# Toggle to separate fitted components by latitude (using qdlat_fit_cutoff)
fit_seplat = 1

# Toggle these to turn on/off different components in the fitting;
# these are for mid/low latitudes if fit_seplat = 1
fit_X     = 1
fit_Y     = 1
fit_Z     = 1
fit_F     = 1
fit_DXDT  = 0
fit_DYDT  = 0
fit_DZDT  = 0
fit_DX_NS = 0
fit_DY_NS = 0
fit_DZ_NS = 0
fit_DF_NS = 0
fit_DX_EW = 0
fit_DY_EW = 0
fit_DZ_EW = 0
fit_DF_EW = 0

# Select which components to fit at high latitudes
fit_Z_highlat = 0
fit_F_highlat = 1
fit_DZ_NS_highlat = 0
fit_DF_NS_highlat = 0
fit_DZ_EW_highlat = 0
fit_DF_EW_highlat = 0

# Relative weight factors for various components
weight_X    = 1.0
weight_Y    = 1.0
weight_Z    = 1.0
weight_F    = 1.0
weight_DXDT = 1.0
weight_DYDT = 1.0
weight_DZDT = 1.0
weight_DX   = 1.0
weight_DY   = 1.0
weight_DZ   = 1.0

# Set this to 1 to scale time parameters into dimensionless units
# for SV/SA terms; this can help improve the conditioning of the
# Jacobian matrix
scale_time = 0

# If this is set to 0, weighting is turned off in the fitting
# (all data is given a weight of 1)
use_weights = 1

# If this is set to 1, the higher degree SV and SA coefficients
# are damped
regularize = 1

# Damping factor for time derivatives of B_r
lambda_1 = 0.005
lambda_2 = 0.1
lambda_3 = 0.5

# Damping factor for alignment parameters
lambda_a  = 1.0e4

# Damping factors for scale factors, offsets, and non-orthogonality splines
lambda_s  = 1.0e4
lambda_o  = 1.0e2
lambda_u  = 1.0e4

#############################################
# SYNTHETIC TEST CASE                       #
#############################################

# Define to replace real data with synthetic prior to fitting
synth_data  = 0

# Define to add gaussian noise to synthetic data
synth_noise = 0

# Minimum spherical harmonic degree for synthetic model
synth_nmin  = 1
